
#main {

    height: 100%;

    overflow: hidden;

}

#sider {

    float: left;

    width: 400px;
    min-height: inherit;

}

#center {

    float: left;

    padding: 10px;

    height: auto;
    
}