
#main {

    height: 100%;

    overflow: hidden;

}

#sider {

    float: left;

    width: 400px;


}

#center {

    float: left;

    padding: 0px 5px 5px 5px;

}

#plottingCanvas {

    border-width: 1px;

    border-radius: 4px;

    border: 1px solid #dddddd;

}